@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,700&display=swap');
*{padding: 0; margin: 0; box-sizing: border-box; font-family: 'Rubik', sans-serif;}
a{text-decoration: none;}

/* -------------------------------------- */
/***************** MAIN ******************/
main{
    background-color: #e5e5e5;
    margin: 1em;
    min-height: max-content;
    padding-bottom: 1em;
}
main .logotipo, h2{
    background-color: #50828d;
    color: #fefefe;
    padding: 0.2em 0.1em 0.2em 0.6em;
    width: 45%;
    min-width: max-content;
    margin: 0.7em 0 0 -1em;
    display: inline-flex;
    align-items: center;
    border-radius: 0 20px 20px 0;
}
main .logotipo h1{
    font-weight: 500;
    font-size: 2.1em;
    margin-right: 0.5em;
}
main .logotipo img{
    margin: 5px 10px 5px 0;
    width: 75px;
}
h2{
    border-radius: 0 10px 10px 0;
    margin-top: 0;
    width: 40%;
    font-weight: 400;
    padding: 0.5em 0 0.5em 2em;
    display: block;
    margin-bottom: 1em;
}
section{
    width: 100%;
    margin-top: 2em;
}
section .integrantes{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
div.integrante{
    width: 45%;
    display: flex;
    align-items: top;
    margin: 1em 1.5em 1em 1.5em;
}
div.integrante h3{
    font-weight: 400;
}
div.integrante p.descricao{
    font-weight: 100;
}
div.integrante figure img{
    width: 120px;
    height: 120px;
    margin-right: 8px;
    border-radius: 50%;
}
@media (max-width: 1000px){
    div.integrante{
        width: 90%;
    }
    main .logotipo{
        width: 80%;
    }
}
@media screen and (max-width:600px){
    main{
        width: 100%;
        margin: 0;
    }
    main .logotipo{
        width: 100%;
        border-radius: 0;
        margin: 0;
    }
    main .logotipo h1{
        font-size: 1.5em;
    }
    main .logotipo img{
        width: 70px;
    }
    section h2{
        padding-right: 1em;
    }
    div.integrante{
        width: 100%;
    }
}
@media screen and (max-width:375px){
    main .logotipo h1{
        font-size: 1.2em;
    }
}

@media screen and (max-width:320px){
    main .logotipo h1{
        font-size: 1em;
    }
}
/*XXXXXXXXXXXXX FOOTER XXXXXXXXXXXXXX*/
footer{
    background-color: #50828d;
    width: 100%;
    min-height: 15vh;
    display: flex;
    justify-content: space-between;
    padding: 1em 2.5em;
    color: #ffffff;
    align-items: center;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
}
footer ul{
    list-style: none;
}
footer h3{
    font-weight: 500;
}
address ul li, address ul li a{
    display: flex;
    align-items: center;
}
footer a{
    color: white;
}
address ul li{
    margin: 0.5em 0;
    font-weight: 300;
}
address ul li img{
    margin-right: 0.3em;
    width: 24px;
}
footer ul.projetos li{
    display: inline;
    margin: 0 0.5em;
    border-radius: 50%;
}

footer ul.projetos img{
    border-radius: 50%;
    display: inline-block;
    height: 67px;
}
@media screen and (max-width: 600px){
    footer{
        flex-direction: column;
        padding: 2em 1em;
    }
    footer ul.projetos{
        margin: 3em 0 0 0;
    }
}
@media screen and (max-width: 380px){
    footer ul.projetos img{
        height: 50px;
    }
}
/*XXXXXXXXXXXXX FIM FOOTER XXXXXXXXXXXXXX*/