@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,700&display=swap');
*{padding: 0; margin: 0; box-sizing: border-box; font-family: 'Rubik', sans-serif;}
a{text-decoration: none;}

main h1{
    background-color: #50828d;
    color: #fefefe;
    padding: 0.2em 0.1em 0.2em 0.6em;
    width: 45%;
    min-width: max-content;
    margin: 0.7em 0 0 -0.5em;
    display: inline-flex;
    font-weight: 500;
    font-size: 2.1em;
    align-items: center;
    border-radius: 0 25px 25px 0;
}
main h1 img{
    margin-right: 10px;
    width: 75px;
}
main{
    background-color: #e5e5e5;
    margin: 1em;
    height: 95%;
}
section{
    width: 100%;
    height: 80%;
    padding: 2em;
    display: flex;
    justify-content: center;
}
section .card{
    display: block;
    min-width: 15em;
    width: 15em;
    height: 19em;
    color: #ffffff;
    margin: 1em 3em;
    background-color: #72bfb5;
    border-radius: 1em;
    text-align: center;
    transition: all 0.7s;
}

section .card:hover{
    background-color: #4aa196;
    transition: all 0.4s;
    height: 28em;
}

section .card h2{
    margin: 0.7em;
    height: 2em;
    font-size: 1.5em;
    font-weight: 500;
    transition: all 0.7s;
}

section .card:hover h2{
    margin-top: 1em;
    transition: all 0.7s;
}

section .card img{
    display: block;
    width: 10em;
    margin: 2em auto 0;
    transition: all 0.7s;
}

section .card:hover img{
    transition: all 0.7s;
    width: 11em;
}

.card .descricao{
    opacity: 0; 
    width: 100%;
    margin: 1.2em 0 0 0;
    height: 1em;
}
.card .descricao p{
    opacity: 0;
}

section .card:hover .descricao p{
    opacity: 1;
    max-height: 100%;
    transition: all 0.7s linear 0.2s;
}

section .card:hover .descricao{
    opacity: 1;
    background-color: #32968b;
    height: 10em;
    margin: 1.2em 0 0 0;
    padding: 1em;
    border-radius: 0 0 1em 1em ;
    transition: all 0.5s;
}


