@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

*{padding: 0; margin: 0; box-sizing: border-box;}
a{text-decoration: none;}
body{background-color: #EFF1F6;}
/*XXXXXXXXXX CABEÇALHO XXXXXXXXXXX*/
.alterarFonte{
    display: block;
    width: 100%;
    background-color: #184355;
    color: #ffffff;
    margin-bottom: 0.5em;
    padding: 0.3em 0;
    text-align: right;
    font-size: 1rem;
}
header{
    width: 100%;
    padding: 0 0 0.5em 0;
    background-color: #086D99;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}
header input{
    background-color: transparent;
    border: none;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    outline: none;
    cursor: pointer;
}
header h1{
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
header h1 a{
    color: #ffffff;
    display: flex;
    align-items: center;
}

header h1 a img{
    float: left;
}

header ol{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    list-style-type: none;
    margin-right: 2em;
}

header li{
    display: inline;
    margin: 1em;
}

header li a, footer li a{
    color: #ffffff;
}

header li a:hover{
    border-bottom: 2px solid #FACA22;
}
.sandwich{
    display: none;
    cursor: pointer;
}
@media screen and (max-width: 920px){
    header{
        padding-bottom: 0em;
    }
    header h1{
        margin-bottom: 0.5rem;
    }
    header li a:hover{
        border-bottom: none;
    }
    header ol.nav-links a{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    header ol.nav-links a:hover{
        background-color: #184355;
    }
    .nav-links{
        display: none;
    }
    .sandwich{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 2em;
        margin-bottom: 0.5em;
    }
    .line{
        height: 4px;
        width: 30px;
        border-radius: 5px;
        margin: 0.1em;
        background-color: #fff;
        transition: 0.4s;
    }
}
@media screen and (max-width: 512px){
    .alterarFonte{
        padding: 0 0 2px 0;
    }
    .alterarFonte ol{
        margin: 0;
        text-align: right;
        margin-right: 5px;
    }
    .alterarFonte ol li{
        margin: 0 2px;
    }
    .alterarFonte input{
        font-size: 0.8rem;
    }
    header h1{
        font-size: 1.5em;
    }
}
@media screen and (max-width: 420px){
    .alterarFonte ol{
        text-align: center;
    }
    header h1 a img{
        width: 50px;
    }
}
@media screen and (max-width: 390px){
    .alterarFonte ol{
        text-align: right;
    }
    .alterarFonte input{
        font-size: 0.72rem;
    }
    .sandwich{
        margin-right: 0.5em;
    }
    header h1{
        font-size: 1.2em;
    }
}
@media screen and (max-width: 350px){
    header h1 a img{
        width: 50px;
    }
    .alterarFonte input{
        font-size: 0.64rem;
    }
}
.open{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    text-align: center;
    cursor: pointer;
}
.change .line1{
    -webkit-transform: rotate(-45deg) translate(-10px, 0px);
    transform: rotate(45deg) translate(-11px, px);
}
.change .line2{
    opacity: 0;
}
.change .line3{
    -webkit-transform: rotate(45deg) translate(-10px, 0px);
    transform: rotate(45deg) translate(-10px, 0px);
}
header ol.open li{
    border-top: 1px solid #fff;
    margin: 0;
    height: 3.2em;
    display: flex;
}
/*XXXXXXXXXX FIM CABEÇALHO XXXXXXXXXXX*/

/*XXXXXXXXXX IMAGEM SIMBOLA INCLUSÃO XXXXXXXXXX*/
/* .imgInclusao img{
    width: 100%;
    margin-top: 6.4em;
    font-size: 1rem;
}
@media screen and (max-width: 513px){
    .imgInclusao img{
        margin-top: 5.8em;
    }
}
@media screen and (max-width: 420px){
    .imgInclusao img{
        margin-top: 4.5em;
    }
} */
/*XXXXXXXXXX FIM IMAGEM SIMBOLA INCLUSÃO XXXXXXXXXX*/

/*XXXXXXXXXXXXX MAIN XXXXXXXXXXXXXX*/

main{
    width: 720px;
    min-height: 20em;
    margin: 1em auto;
    padding: 1rem;
    font-family: 'Open Sans', sans-serif;
    background: #fff;
    box-shadow: 1px 1px 10px -2px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 720px){
    main{
        width: 100%;
        margin: 0;
    }
}

.titulo-aula{
    text-transform: uppercase;
    color: #2c3e50;
    font-weight: 700;
    font-size: 1.1em;
}
.subtitulo-aula{
    text-transform: uppercase;
    color: #2c3e50;
    font-weight: 700;
    font-size: 0.9em;
}
.topico-aula{
    margin: 1em 0;
}
.titulo-topico{
    color: white;
    background: #8395a7;
    padding: 10px;
    font-weight: 700;
    font-size: 1em;
    margin: 0.8em 0;
}
p{
    text-align: justify;
    font-size: 1.05em;
    margin-bottom: 1em;
    font-weight: 400;
    line-height: 1.5em;
}
b{
    color: #2c3e50;
}
hr{
    height: 1px;
    background: #b2b2b2;
    border: none;
    margin-bottom: 1em;
    padding: 0
}
.topico-aula img{
    margin-bottom: 1rem;
    max-width: calc(100% - 30px);
}
.sombra{
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.25);
}
.centralizar{
    text-align: center;
}

/*XXXXXXXXXXXXX FIM MAIN XXXXXXXXXXXXXX*/
/*XXXXXXXXXXXXX CONTAINER BOTOES FINAL DA AULA XXXXXXXXXXXXXX*/
.container-exercicios{
    display: flex;
    align-items: end;
    justify-content: center;
}
.container-exercicios ol{
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0 0 0 1rem;
}
.container-exercicios ol li{
    margin: 10px 0;
}
.container-exercicios ol li a{
    background-color: #22a6b3;
    color: #fff;
    padding: 5px 25px;
    border-radius: 5px;
}
@media screen and (max-width: 355px){
    .container-exercicios ol li a{
        padding: 5px 10px;
    }
    .container-exercicios ol{
        margin-left: 0.5rem;
    }
}
/*XXXXXXXXXXXXX FOOTER XXXXXXXXXXXXXX*/
footer{
    background-color: #313334;
    width: 100%;
    min-height: 15vh;
    display: flex;
    justify-content: space-between;
    padding: 1em 2.5em;
    color: #ffffff;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}
footer ul{
    list-style: none;
}
footer h3{
    font-weight: 500;
}
address ul li, address ul li a{
    display: flex;
    align-items: center;
}

address ul li{
    margin: 0.5em 0;
    font-weight: 300;
}
address ul li img{
    margin-right: 0.3em;
}
footer ul.outros-projetos li{
    display: inline;
    margin: 0 0.5em;
    border-radius: 50%;
}

footer ul.outros-projetos img{
    border-radius: 50%;
    display: inline-block;
    height: 67px;
}
@media screen and (max-width: 565px){
    footer{
        flex-direction: column;
        padding: 2em 1em;
    }
    footer ul.outros-projetos{
        margin: 3em 0 0 0;
    }
}
@media screen and (max-width: 380px){
    footer ul.outros-projetos img{
        height: 50px;
    }
}
/*XXXXXXXXXXXXX FIM FOOTER XXXXXXXXXXXXXX*/